*{
    background-color: rgb(17, 14, 61);
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
}
.button
{
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.505);
    color: white;
}
.img
{
    border-radius: 10px;
    height: 600px;
    width: 600px;
}